<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <style>
    body{
      font-family: 'Oswald', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    p{
      font-family: 'Oswald', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
  </style>
</head>
<body>
  <p>Compraste cosas amiguito</p>
</body>
</html>
