<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p align="justify"><%=@message%></p>
<center><h2 style="color:#172769;"><strong>Atentamente DOMUS S.R.L.<strong></h2></center>
<body>
</html>
