<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <div class="card" style="background:#F6F6F6;">
    <div class="card-body">
      
      <b>Hola <%=(@user.email)%>.</b>
      <p align="justify">Si olvidaste tu contraseña, puedes ingresar una nueva accediendo al siguiente link.</p>
      <h4>http://domusbolivia.com/password_resets/<%=(@user.reset_password_token)%>/edit</h4>
      <p align="justify">Si no necesitas ingresar una nueva y este correo fue enviado por error, por favor ignoralo.</p>
    <center><h2 style="color:#172769;"><strong>Atentamente DOMUS S.R.L.<strong></h2></center>
    </div>
  </div>
<body>
</html>
