<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p align="justify">Si olvidaste tu contraseña, puedes ingresar una nueva accediendo al siguiente link.</p>
  <h4><%=edit_password_reset_url(@user.reset_password_token)%></h4>
  <p align="justify">Si no necesitas ingresar una nueva y este correo fue enviado por error, por favor ignoralo.</p>
<center><h2 style="color:#172769;"><strong>Atentamente DOMUS S.R.L.<strong></h2></center>
<body>
</html>
