<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p align="justify">¡Gracias por la confianza! Tu orden acaba de ser recepcionada, en un momento
  la revisaremos y te enviaremos un correo de confirmación.</p>
<center><h2 style="color:#172769;"><strong>Atentamente DOMUS S.R.L.<strong></h2></center>
<body>
</html>
