<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p align="justify">Muchas gracias por afiliarte a nuestro sistema de ventas. Por favor espera unos minutos antes de iniciar
  sesión para que podamos corroborar tus datos y asignarte el rol correcto para que puedas disfrutar de los beneficios de contar con una cuenta.
  En caso de cualquier duda o problema ponte en contacto con nosotros, recuerda que tienes toda la información en nuestra pestaña de Contactos.</p>
<center><h2 style="color:#172769;"><strong>Atentamente DOMUS S.R.L.<strong></h2></center>
<body>
</html>
