<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #172769;">
  <a class="navbar-brand" href="#">
    <%= image_tag 'logo.jpg',  width: "190", height: "60"%>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Características de Productos
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" href="/unidades">Unidades de medida</a>
         <a class="dropdown-item" href="/fabricantes">Fabricantes</a>
         <a class="dropdown-item" href="/proveedores">Proveedores</a>
         <a class="dropdown-item" href="/categorias">Categorías</a>
         <a class="dropdown-item" href="/subcategorias">Subcategorías</a>
       </div>
     </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos">Productos</a>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Envíos
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" href="/destinos">Destinos</a>
         <a class="dropdown-item" href="/envios">Delivery</a>
       </div>
     </li>
      <li class="nav-item">
        <a class="nav-link" href="/almacen">Almacen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ordenes">Ordenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts/1/edit">Contactos y <br>Sobre Nosotros</a>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Extras
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" href="/extras/1/edit">Logo-Banner-Servicios</a>
         <a class="dropdown-item" href="/bancos">Cuentas Bancarias</a>
         <a class="dropdown-item" href="/carousel_list">Carrusel</a>
         <a class="dropdown-item" href="/training">Capacitaciones</a>
       </div>
     </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios">Usuarios</a>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Reportes
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" href="/reportes/productos_vendidos">Productos vendidos</a>
         <a class="dropdown-item" href="/reportes/productos_stock">Productos de stock</a>
         <a class="dropdown-item" href="/reportes/clientes">Clientes</a>
         <a class="dropdown-item" href="/reportes/ordenes">Ordenes</a>
       </div>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/sucursales">Sucursales</a>
     </li>
    </ul>
  </div>
</nav>
