<div class="features_items"><!--features_items-->
	<h2 class="title text-center"><%= title %></h2>
	<% categories.each do |category| %>
		<div class="col-lg-3 item-pad">
			<a class="category-image-wrapper" href="/category_products/<%= category.id %>">
				<div class="single-products">
					<div class="productinfo text-center">
						<%= image_tag category.picture.url(:original), class: "img-responsive" %>
						<button class="btn btn-domus btn-block"><%= category.name %></button>
					</div>
				</div>
			</a>
		</div>
	<% end %>
</div><!--features_items-->
