<div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
 
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Detalles de la orden</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false" onclick="get_values()">Pago</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <%= render 'shared/address' %>
  <%= render 'shared/payment' %>
 
</div>

</div>