<section>
    <div class="container">
        <div class="row">
		
        <h3>Acerca de nosotros</h3>
        <p class="justified-text text-big">
        <%= @contact_information.about %>
        </p>

        <h3>Misión</h3>
        <p class="justified-text text-big">
            <%= @contact_information.mission %>
        </p>

        <h3>Visión</h3>
        <p class="justified-text text-big">
            <%= @contact_information.vision %>
        </p>
        <img src="<%= @contact_information.picture %>" class="img-fluid">
        </div>
    </div>
</section>