<div class="row">
    
    <h4>Acerca de nosotros</h4>
    <p class="justified-text text-big">
    <%= @contact_information.about %>
    </p>

    <h4>Misión</h4>
    <p class="justified-text text-big">
        <%= @contact_information.mission %>
    </p>

    <h4>Visión</h4>
    <p class="justified-text text-big">
        <%= @contact_information.vision %>
    </p>
    <img src="<%= @contact_information.picture %>" class="img-responsive">

</div>
