
	
		<div class="row">
			<!-- Left sideBar -->
			<%= render 'shared/show_categories', categories: @categories.order(number: :asc), title: "Nuestras categorías" %>
			<!-- Left sideBar -->
		</div>
	
