<h1>Extras</h1>
<div class="table-responsive">
  <table class="table table-hover table-stripped">
    <thead>
      <tr>
        <th>Servicios</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @extras.each do |extra| %>
        <tr>
          <td><%= extra.services %></td>
          <td><%= link_to 'Editar', edit_extra_path(extra) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
